<% @page_title = 'Cookie Policy' %>

<%= render partial: 'layouts/header' %>


	<div class = "wrapper">
			
	<div class="breadcrumb">
		<strong>You are in:</strong>
		<%= link_to "Home", root_path %> &raquo 
		Cookie policy
		
	</div>
			
	<h1 class="legal">Cookie Policy</h1>
	<p class="no-indent copy">Mojoleaf, like every other website, uses cookies. By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</p>

	<h2 class="copy">About cookies</h2>

	<p class="no-indent copy">A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser, and stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>

	<p class="no-indent copy">Cookies can be used by web servers to identity and track users as they navigate different pages on a website and to identify users returning to a website.</p>

	<p class="no-indent copy">Cookies may be either “persistent” cookies or “session” cookies.  A persistent cookie consists of a text file sent by a web server to a web browser, which will be stored by the browser and will remain valid until its set expiry date (unless deleted by the user before the expiry date). A session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</p>


	<h2 class="copy">How we use cookies</h2>

	<p class="no-indent copy">Cookies do not contain any information that personally identifies you, but personal information that we store about you may be linked, by us, to the information stored in and obtained from cookies. </p>

	<p class="no-indent copy">We may use the information we obtain from your use of our cookies for the following purposes:</p>

	<ul class="bullet">
	<li>To recognise your computer when you visit our website;</li>

	<li>To track how you use the site;</li>

	<li>To analyse the use of our website;</li>

	<li>In the administration of this website;</li>

	<li>To prevent fraud and improve the security of the website;</li>

	</ul>
	<h2 class="copy">Third party cookies</h2>

	<p class="no-indent copy">In addition, we use Google Analytics to analyse the use of this website.  Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers.  The information generated relating to our website is used to create reports about the use of the website. Google will store this information. Google's privacy policy is available at: <a href="http://www.google.com/privacypolicy.html" target="_blank" class = "blue-link">http://www.google.com/privacypolicy.html</a>. </p>

	
	<h2 class="copy">Cookie Maintenance</h2>
	<p class="no-indent copy">You can set your browser to accept or reject all specific ‘cookies’. You can also set your browser to alert you each time a ‘cookie’ is presented to your computer. You can delete ‘cookies’ that have been stored on your computer but remember, if you prevent us from placing ‘cookies’ on your computer during your visit, or you subsequently delete a ‘cookie’ that has been placed, it will not be possible for you to use our website effectively.</p> 
	<p class="no-indent copy">By disabling your ‘cookies’ from the browser settings, you will be restricting the ‘cookies’ that Mojoleaf uses to manage its website and this will have an impact on how the website will function. This will apply to all websites once ‘cookies’ are disabled via your browser settings and not only the Mojoleaf website.</p>
	<p class="no-indent copy">If you would like to restrict or block ‘cookies’ that are set by us and other websites, you can do this through your web browser settings. Instructions for how to do this for the four most used web browsers are below. For other web browsers, please use the Help function on your browser for details on how to do this.</p>
	<p class="no-indent copy">For information on how to restrict or block ‘cookies’ on your mobile phone, you will need to refer to your handset manual.</p>
	<p class="no-indent copy">Guide to Disabling ‘Cookies’ using Web Browsers, some guidance is provided below:</p>
	
	<p class="no-indent copy"><strong>Safari</strong></p>
	
	<ol>
		<li>Go to the Safari menu.</li>
		<li>Click on the Preferences.</li>
		<li>Click the ‘Security’ tab.</li>
		<li>Under ‘Accept Cookies’, set it to accept, reject, or selectively accept cookies.</li>
	</ol>
	
	
	<p class="no-indent copy"><strong>Firefox 3.0+</strong></p>
	
	<ol>
		<li>Click on 'Tools' in the menu bar</li>
		<li>Click on 'Options...' </li>
		<li>Click on 'Privacy’ Tab in the top section</li>
		<li>From the drop down box select ‘Use custom setting for history’</li>
		<li>Un-tick the box that says 'Accept Cookies From sites'</li>
		<li>Click OK and Close the screen.</li>
	</ol>
	
	
	
	<p class="no-indent copy"><strong>Internet Explorer 7.0+</strong></p>
	<ol>
		<li>Click on 'Tools' in the menu bar</li>
		<li>Click on 'Options'</li>
		<li>Click on 'Privacy' Tab on top section</li>
		<li>Click on the 'Advanced" button</li>
		<li>Select ‘Prompt’ for both ‘First party cookies’ and ‘Third Party Cookies’</li>
		<li>Click OK and Close the screen.</li>
	</ol>
	
	<p class="no-indent copy"><strong>Google Chrome 8.0+</strong></p>
	<ol>
		<li>Click to 'Tools Menu'</li>
		<li>Click on 'Options'</li>
		<li>Click on 'Under the Bonnet'</li>
		<li>Click on 'Cookie Setting' button and tick ‘Block all third-party cookies without exception’</li>
		<li>Close the screen.</li>
	</ol>	
	
	
	

	<h2 class="copy">Contact us</h2>

	<p class="no-indent copy">This website is owned and operated by UCD Consulting Limited.</p>

	<p class="no-indent copy">
		If you have any questions about our cookies or this cookies policy, please
		<a href="http://www.hellomike.co.uk/contact-me/" target="_blank" class="blue-link">contact me</a>.
	</p>

	<p class="no-indent copy"><i>Last updated: April 2014</i></p>
</div>

<%= render partial: 'layouts/footer' %>