<h2>Full results available</h2> 

Hope you're well, just to let you know your test <strong>"<%= @test.title %>"</strong> has ended and you can see the full results from <%= link_to "Your dashboard", host: 'localhost:3000', controller: "tests", action: "index"  %>.</p>

<h3>We're always interested to get <i>your</i> feedback</h3>

<p>We'd love to hear any feedback you have about mojoleaf, whether it's how it helped you in the design process or whether there's something you'd like to change. Whatever it is, please don't be shy and <a href="http://www.hellomike.co.uk/contact-me/" target="_blank">get in touch</a>.</p>