<% @page_title = 'Gremlin Attack' %>

<%= render partial: 'layouts/header' %>


<div class = "wrapper">

<div class="error-container-500">
	
	
<h2 class="error-page">Those pesky gremlins are at it again!</h2>
	
<p class="center">Not sure what happened but we had an <i>Internal Server Error</i> (whatever that means).</p>

<p class="center">You could try <a href="javascript:location.reload(true);" class="blue-link">refreshing the page</a>, alternatively head to the <%= link_to "Homepage", root_path, class: "blue-link" %> and go from there.</p>

	<p class="center"><%= link_to "Homepage", root_path, class: "button"%></p>
</div> 

</div>


</div>

<%= render partial: 'layouts/footer' %>





