<%= render partial: 'layouts/header' %>


<div class = "wrapper">

<div class="error-container-404">
	<h2 class="error-page">Erm...we're not sure what you're looking for?</h2>
	
	<p class="center">Try checking the URL for errors, or maybe the page you're looking for no longer exists.</p>
	
	<p class="center"><%= link_to "Homepage", root_path, class: "button"%></p>
</div>


</div>

<%= render partial: 'layouts/footer' %> 


