<% @page_title = 'Feedback already received' %>

<%= render partial: 'layouts/header' %>


 <div class="wrapper">
 <div class="group">
 <h2 class="congrats thanks">We love your enthusiasm but...<span class="h2-sub">
 It looks like you've already left your feedback</span></h2>
 	
	
	<p class="center">

		<% if @test.chosen_destination == "http://"  || @test.chosen_destination.empty? %>
 			<%= link_to "Homepage", root_path, class: "button"%>
 		<% else %>
			<a class="button" href="<%= @test.chosen_destination %>" target=“_blank”>Continue</a>
		<% end %>

	</p>





</div>
 
 
 </div>
 
  <div class="extra-margin">
 <%= render partial: 'layouts/footer' %>
 </div>
 
 
 
