<% @page_title = 'Thank you' %>

<%= render partial: 'layouts/header' %>


 <div class="wrapper">
 <div class="group">
 <h2 class="congrats thanks">Thanks for your feedback<span class="h2-sub">
 We really appreciate it</span></h2>
 </div>
 <div class="thanks-homepage">
 	<div class="centre">
 

 		<% if @test.chosen_destination == "http://" || @test.chosen_destination.empty? %>
 			<%= link_to "Homepage", root_path, class: "button center" %>
 		<% else %>
			<a class="button center" href="<%= @test.chosen_destination %>" target=“_blank”>Continue</a>
		<% end %>



</div>


 

 </div>
 
 </div>
 
  <div class="extra-margin">
 <%= render partial: 'layouts/footer' %>
 </div>