<div class="case group">

	<footer class="wrapper">
	
		<ul class="footer-links">
			<li class="footer-first"><%= link_to "Terms of service", terms_page_path %></li>
			<li><%= link_to "Privacy policy", privacy_page_path %></li>
			<li class="footer-last"><%= link_to "Cookie policy", cookie_page_path %></li>
		</ul> 
		
		
	
	</footer>
</div>