<nav class="group">


	<div class="logo">
	    <%= link_to "mojoleaf", root_path %>
	</div>

	<ul>
		<li><a href="#">Sign out</a></li>
		<li><%= link_to "Your Dashboard", tests_path %></li>
		
	</ul>
 
</nav>